*{
    margin: 0;
    padding: 0;
}
body, html{
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    overflow-x:hidden ;
}
#navbar{
    background-color: rgb(234, 238, 0);
    height: 50px;
}
.item{
    color: rgb(255, 0, 0);
    font-weight: bolder;
    text-shadow: 1px 1px 1px black;
}
.item:hover{
    color: white;
}
.fundo{
    position: relative;
    background-image: url("jonathan-borba-xUtkfr-qBFU-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100vh;
}
img{
    width: 50px;
    margin-left: 15px;
}
.lista{
    float: right;
    padding-left: 40px;
    font-size: 14pt;
    margin: 15px;

}
.container{
    font-size: 8rem;
    font-family: 'Alfa Slab One', cursive;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
    letter-spacing: 20px;
}
#cardapios img{
    display: block;
    width: 250px;
    height: 250px;
    border: 1px solid black ;
    border-radius: 10px;
    margin: 50px;
    box-shadow: 1px 1px 15px white;
    max-width: 80vw;

}
.title{
    text-align: center;
    font-size: 24pt;
    font-weight: bolder;
    padding: 15px;
}
.lanches{
    padding-top: 15px;
    position: relative;
    left: 50px;
    text-align: left;
    font-size: 15pt;
    max-width: 50vw;
}
#sobre img{
    width: 210px;
    height: 210px;
}
#contato{
    background-color: rgb(129, 62, 62);
    padding:30px ;
    padding-left: 150px;
}
#contato img{
    width: 30px;
}
ul{
  list-style-type: none; 
  display: inline; 
}
a{
    text-decoration: none;
    color: rgb(255, 153, 0);
}
#sobre{
    max-width: 950px;
    margin:auto;
    padding: 40px;
    text-align: center;
    
}
.sobreconteudo{
    max-width: 25%;
    display: inline-block;
    text-align: left;
    line-height: 15px;
}
@media  screen and (max-width: 650px){
    .lanches{
        width: 100px;
    }
    .fundo{
        display: none;
    }
    #navbar{
        height: 100vh;
    }
    .lista{
        float: none;
        background-color: rgb(255, 189, 66);
        padding: 20px;
        margin: auto;
        margin-top: 80px;
        text-align: center;
        border: 1px solid black;
        border-radius: 15px;
    }
    .item{
        padding: 40px;
    }
    #contato{
        padding-top:20px;
        padding-left:20px ;
        line-height: 30px;
    }
    #cardapios img{
        margin:0 ;
        margin-top:50px ;
        margin-bottom: 50px;
    }
}